<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Book</title>
</head>
<body>
    <h1>Booking</h1>
    <form action="/book" method="post">
        <input type="text" name="firstname" id="" placeholder="first name"><br>
        <input type="text" name="lastname" id="" placeholder="last name"><br>
        <input type="email" name="email" id="" placeholder="email"><br>
        <input type="text" name="phone" id="" placeholder="phone"><br>
        <input type="text" name="city" id="" placeholder="city"><br>
        <input type="text" name="total" id="" placeholder="total"><br>
        <input type="date" name="date" id=""><br>
        <input type="submit" value="Send">
    </form>
</body>
</html>